In [7]:
SELECT
       MAX(MENNYISEG) AS 'Maximum rendelt mennyiség',
       MIN(MENNYISEG) As 'Minimum rendelt mennyiség',
       ROUND(AVG(MENNYISEG),2) AS 'Átlagosan rendelt mennyiség',
       ROUND(STDEV(MENNYISEG),2) AS 'Rendelt mennyiség szórása',
       ROUND(VAR(MENNYISEG),2) AS 'Rendelt mennyiség varianciája' 
FROM Rendeles_tetel

Maximum rendelt mennyiség,Minimum rendelt mennyiség,Átlagosan rendelt mennyiség,Rendelt mennyiség szórása,Rendelt mennyiség varianciája
90,1,"39,21","28,73","825,25"

In [37]:
SELECT
    (SELECT
        COUNT(*)
    FROM Rendeles_tetel
    WHERE EGYSEGAR IS NULL) 
    AS 'NUll értékek száma',

    ROUND(CAST((SELECT 
                    COUNT(*)
                FROM Rendeles_tetel
                WHERE EGYSEGAR IS NULL) 
          AS float)/CAST(COUNT(*)AS float)*100,4)
    AS 'Null értékek százaléka'
    
FROM Rendeles_tetel

NUll értékek száma,Null értékek százaléka
153,"0,0938"

In [15]:
SELECT
       MAX(EGYSEGAR) AS 'Legmagassabb egységár',
       MIN(EGYSEGAR) As 'Legalacsonyabb egységár',
       ROUND(AVG(EGYSEGAR),2) AS 'Átlagos egységár',
       ROUND(STDEV(EGYSEGAR),2) AS 'Egységár szórása',
       ROUND(VAR(EGYSEGAR),2) AS 'Egységár varianciája'
FROM Rendeles_tetel

Legmagassabb egységár,Legalacsonyabb egységár,Átlagos egységár,Egységár szórása,Egységár varianciája
46000,0,"1871,97","5844,07","34153211,22"

In [46]:
SELECT
    LEN(TERMEKKOD) AS 'termékkód hossza',
    COUNT(*) AS 'db'
FROM Rendeles_tetel
GROUP BY(LEN(TERMEKKOD))

termékkód hossza,db
9,132804
10,30375