In [4]:
import pyodbc
import pandas as pd

def Lekerdezes(sqlstring):
    df = pd.read_sql(sqlstring, cnxn)
    print(df)

cnxn = pyodbc.connect(driver='{SQL Server}', server='(local)', database='kulturtortenet',              
               trusted_connection='yes')

In [5]:
Lekerdezes("Select * from csapat")

    id          nev  tagszam
0    1     Királyok        4
1    2  Nyerő Páros        2
2    3    Anonymous        3
3    4     Visegrád        3
4    5      Kolozsi        5
5    6      Pecások        3
6    7     Dobozoló        4
7    8    #unboxing        5
8    9     Vuvuzela        3
9   10      Tom&Tom        2
10  11         #win        4
11  12          STG        3
12  13         Keri        3
13  14    Kismackók        5

C:\Users\Anna\AppData\Local\Temp\ipykernel_16688\135000075.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sqlstring, cnxn)

In [6]:
Lekerdezes("""
select
    cs.nev,
    sum(m.pontszam) as pontszam
from csapat cs 
join megoldas m on cs.id = m.csapatid 
group by cs.nev
order by sum(m.pontszam) desc
""")

            nev  pontszam
0      Vuvuzela      1652
1      Dobozoló      1589
2       Pecások      1494
3       Kolozsi      1479
4     #unboxing      1454
5   Nyerő Páros      1445
6       Tom&Tom      1437
7          Keri      1404
8           STG      1401
9      Visegrád      1394
10     Királyok      1390
11    Anonymous      1361
12         #win      1151

C:\Users\Anna\AppData\Local\Temp\ipykernel_16688\135000075.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sqlstring, cnxn)

In [27]:
Lekerdezes("""
select
    ag,
    count(nevado) as db
from feladatsor
group by ag
order by count(nevado) desc
           """)

              ag  db
0       irodalom   4
1  képzőművészet   4
2   zeneművészet   3
3  építőművészet   2
4   filmművészet   2

C:\Users\Anna\AppData\Local\Temp\ipykernel_16688\135000075.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sqlstring, cnxn)

In [21]:
Lekerdezes("""
select 
    cs.nev,
    count(m.id) over(partition by cs.nev) as 'Leadott megoldások száma'
from csapat cs join megoldas m on cs.id=m.csapatid
           """)

            nev  Leadott megoldások száma
0     #unboxing                        83
1     #unboxing                        83
2     #unboxing                        83
3     #unboxing                        83
4     #unboxing                        83
...         ...                       ...
1112   Vuvuzela                        88
1113   Vuvuzela                        88
1114   Vuvuzela                        88
1115   Vuvuzela                        88
1116   Vuvuzela                        88

[1117 rows x 2 columns]

C:\Users\Anna\AppData\Local\Temp\ipykernel_16688\135000075.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sqlstring, cnxn)

In [20]:
Lekerdezes(""" 
        select fs.id, 
            fs.nevado,
           sum(pontszam) over(partition by fs.id) as 'Össz pontszám'
        from feladatsor fs join feladat f on fs.id=f.feladatsorid""")

    id        nevado  Össz pontszám
0    1    Ybl Miklós            150
1    1    Ybl Miklós            150
2    1    Ybl Miklós            150
3    1    Ybl Miklós            150
4    1    Ybl Miklós            150
..  ..           ...            ...
84  15  Liszt Ferenc            150
85  15  Liszt Ferenc            150
86  15  Liszt Ferenc            150
87  15  Liszt Ferenc            150
88  15  Liszt Ferenc            150

[89 rows x 3 columns]

C:\Users\Anna\AppData\Local\Temp\ipykernel_16688\135000075.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sqlstring, cnxn)

In [28]:
cursor = cnxn.cursor()

cursor.execute("""
               insert into csapat (id, nev,tagszam)
               values(14,'Kismackók',3)
               """)

cnxn.commit()

In [29]:
cursor.execute("""
                update csapat
                set tagszam=5
               where nev='Kismackók'
               """)
cnxn.commit()

In [30]:
cursor.execute("""
                delete from megoldas
                where pontszam=0
               """)
cnxn.commit()

In [33]:
cursor.execute(""" delete from feladatsor
                where ag='irodalom'""")
cnxn.commit()

In [34]:
cursor.execute("""delete from megoldas where csapatid=3""")
cnxn.commit()